@using ClosDotNet.Resources.Resources;

@model ClosDotNet.Models.SearchViewModel

@{
    ViewBag.Title = CustomerResources.TitleCustomerSearch;
    ViewBag.ActiveMenu = "SearchCustomer";
}

<fieldset>
    <legend>@CustomerResources.TitleCustomerSearch</legend>

    <section id="searchForm">
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>@CustomerResources.LabelSearchCustomerInstructions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @using (Html.BeginForm("SearchByCustomerName", "Customer", FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <table class="no-border-table">
                                <tr>
                                    <td class="fieldname">
                                        @Html.LabelFor(m => m.SearchCustomerName.CustomerName, new { @class = "control-label" })
                                    </td>
                                    <td width="40%">
                                        @Html.TextBoxFor(m => m.SearchCustomerName.CustomerName, new { @class = "form-control input-sm" })
                                        @Html.ValidationMessageFor(m => m.SearchCustomerName.CustomerName, "", new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        <input type="submit" value="@CommonResources.ButtonSearch" class="btn btn-default btn-sm" />
                                    </td>
                                </tr>
                            </table>
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        @using (Html.BeginForm("SearchByCifNumber", "Customer", FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <table class="no-border-table">
                                <tr>
                                    <td class="fieldname">
                                        @Html.LabelFor(m => m.SeachCifNumber.CifNumber, new { @class = "control-label" })
                                    </td>
                                    <td width="40%">
                                        @Html.TextBoxFor(m => m.SeachCifNumber.CifNumber, new { @class = "form-control input-sm" })
                                        @Html.ValidationMessageFor(m => m.SeachCifNumber.CifNumber, "", new { @class = "text-danger" })
                                    </td>
                                    <td>
                                        <input type="submit" value="@CommonResources.ButtonSearch" class="btn btn-default btn-sm" />
                                    </td>
                                </tr>
                            </table>
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                    @using (Html.BeginForm("SearchByIdCombination", "Customer", FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <table class="no-border-table">
                            <tr>
                                <td class="control-label fieldname">
                                    <label class="control-label">@CustomerResources.LabelSearchCustomerId</label>
                                </td>
                                <td width="40%">
                                    <table class="table-bordered">
                                        <tbody>
                                            <tr>
                                                <td class="fieldname">
                                                    @Html.LabelFor(m => m.SeachIdCombination.IdType, new { @class = "control-label" })
                                                </td>
                                                <td>
                                                    @Html.DropDownListFor(
                                                        m => m.SeachIdCombination.IdType,
                                                        (IList<SelectListItem>)ViewBag.IdTypeList,
                                                        CommonResources.OptionPleaseSelect,
                                                        new { @class = "form-control input-sm" })
                                                    @Html.ValidationMessageFor(m => m.SeachIdCombination.IdType, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="fieldname">
                                                    @Html.LabelFor(m => m.SeachIdCombination.IdNumber, new { @class = "control-label" })
                                                </td>
                                                <td width="40%">
                                                    @Html.TextBoxFor(m => m.SeachIdCombination.IdNumber, new { @class = "form-control input-sm" })
                                                    @Html.ValidationMessageFor(m => m.SeachIdCombination.IdNumber, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="fieldname">
                                                    @Html.LabelFor(m => m.SeachIdCombination.IdIssuedCountry, new { @class = "control-label" })
                                                </td>
                                                <td>
                                                    @Html.DropDownListFor(
                                                        m => m.SeachIdCombination.IdIssuedCountry,
                                                        (IList<SelectListItem>)ViewBag.CountryList,
                                                        CommonResources.OptionPleaseSelect,
                                                        new { @class = "form-control input-sm" })
                                                    @Html.ValidationMessageFor(m => m.SeachIdCombination.IdIssuedCountry, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td width="40%">
                                    <input type="submit" value="@CommonResources.ButtonSearch" class="btn btn-default btn-sm" />
                                </td>
                            </tr>
                        </table>
                    }
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</fieldset>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
